<!DOCTYPE html>
<html>
<head>
  <title>RailsYelpMvp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">

  <div class="container">
    <%= link_to "MyYelp", restaurants_path, class: 'navbar-brand' %>
  </div>
</nav>

<div class="container">

<%= yield %>

</div>

<div class="yelp-footer text-center text-sm">
    <p><i class="fa fa-copyright"></i> MyYelp
</div>



</body>
</html>
